* {
    font-family: 'Montserrat', sans-serif;
}

.main-container {
    max-width: 40vw;
    margin: auto auto;
}

.header {
    display: flex;
    margin-bottom: 1.5rem;
}

.header-img {
    width: 7rem;
    height: auto;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.highlighted {
    color: #63E6BE;
}

.input {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    text-align: center;
    border-radius: 0.5rem;
    border: 0.5px solid #63E6BE;
}

#check-number {
    background-color: #63E6BE;
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 9px;
    font-weight: bold;
    margin: 0px auto;
    border: none;
    cursor: pointer;
    /* transition: background-color 0.3s; */
    transition: all 0.3s;
}

.footer {
    background-color: #63E6BE;
    padding: 1.5rem;
    text-align: center;
    color: #f8f9fa;
    border-top-right-radius: 1rem;
    margin-top: 3rem;
}

.footer-msg {
    color: #212529;
}

.non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 1.5rem;
}

.footer .link {
    color: #fff;
}

.footer-link {
    color: var(--primary-color);
    text-decoration: none;
}

.footer ul {
    padding-inline-start: 0px;
}